[submodule "backend"]
	path = backend
	url = git@github.com:StevenDRiggs/my-next-website-revamp-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:StevenDRiggs/my-next-website-revamp-frontend.git
